{{#if user}}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">{{user.username}}'s Profile</h5>
                    <p>Here you can find info about your account!</p>
                    <div class="form-label-group">
                        <label>Username</label>
                        <label class="form-control">{{user.firstName}}</label>
                    </div>
                    <div class="form-label-group">
                        <label>Email</label>
                        <label class="form-control">{{user.email}}</label>
                    </div>
                    <hr class="my-4">
                    {{#if message}}
                    <div class="error-message">{{ message }}</div>
                    {{/if}}
                    <button class="btn btn-dark btn-lg download-btn" type="button"><a href="/">Back Home</a></button>
                    <br />
                    <form action="/profile/{{user._id}}/delete" method="POST">
                        <button class="delete-acc btn btn-dark btn-lg download-btn" type="submit">Delete
                            account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}